.btn-color{
    background: #00626F;
    color: white;
}
.btn-color:hover{
    color: #00626F;
    background: none;
    border: 1px solid #00626F;
}
.hover-style:hover{
    border: 1px solid rgb(197, 197, 197) !important;
}